<title>Sudo Weather App by Sudo Tech PNG Ltd</title>
<meta charset="UTF-8" >
<meta lang="en" >
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootswatch/3.3.2/united/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="/css/jquery-ui.min.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/nvd3/1.8.5/nv.d3.css" />
<link rel="stylesheet" type="text/css" href="/css/style.css">
<meta property="og:url" content="<%= appInfo.url %>" />
<meta property="og:type" content="<%= appInfo.type %>" />
<meta property="og:title" content="<%= appInfo.title %>" />
<meta property="og:description" content="<%= appInfo.description %>" />
<!-- <meta property="og:image" content="<%= appInfo.img.url %>" /> -->