<!DOCTYPE html>
<html lang="en" ng-app="WeatherReports">
	<head>
		<% include ../partials/head %>
		<!-- <% /* include ../partials/fb-pixels */ %> -->
	</head>
	<body class="container-fluid">
		<% include ../partials/facebook-integration %>
		<main class="row">
			<section id="weather-section" class="col-xs-12 col-sm-5 well-sm">
				<div class="row">
					<div class="col-xs-12 col-sm-12">
						<% include ../partials/header %>
					</div>
					<div class="col-xs-12 col-sm-12 text-center">
						<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
						<!-- large mobile banner -->
						<ins class="adsbygoogle"
						     style="display:inline-block;width:320px;height:100px"
						     data-ad-client="ca-pub-3511968554265090"
						     data-ad-slot="3106215165"></ins>
						<script>
						(adsbygoogle = window.adsbygoogle || []).push({});
						</script>
					</div>
					<div class="col-xs-12 col-sm-12">
						<article id="weather-info" class="row text-primary bg-warning text-center">
							<div class="col-sm-10 col-sm-offset-1">
								<h3 class="forecast-title"><%= weda.name %></h3>
								<p>The ground temperature is <%= weda.main.temp %> &deg;C. with <%= weda.clouds.all %>% of the sky covered with <%= weda.weather[0].description%>.</p>
								<p>The wind is averaging speeds of up to <%= weda.wind.speed %> km/h blowing in from the North at <%= weda.wind.deg %> &deg;</p>
								<p>Atmospheric pressure is measuring up to <%= weda.main.pressure %> hPa with humidity measuring at <%= weda.main.humidity %>%.</p>
							</div>
						</article>
						<article class="row">

							<section class="col-xs-12 col-sm-8">
								<div class="fb-login-button col-xs-6" data-show-faces="true" data-width="200" data-max-rows="1" data-scope="publish_actions"></div>
								<div class="col-xs-6">
									<input type="button" class="btn btn-info btn-sm" value="share with your friends" onClick="postShare()">
									<span id="message"></span>
								</div>
							</section>
<!-- 							<section class="col-xs-12 col-sm 4">
								<ul id="menu-list" class="bg-primary list-unstyled list-inline" style="margin: 0 !important;">
									<li>
										<div class="fb-like" data-href="<%= appInfo.url %>" data-width="810" data-layout="button_count" data-action="like" data-size="medium" data-show-faces="true" data-share="false"></div>
									</li>
									<li>
										<div class="fb-share-button" data-quote="<%= weda.weather.description %>" data-hashtag="#pngweather" data-href="<%= appInfo.url %>" data-layout="button_count" data-size="small" data-mobile-iframe="false"><a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=<%= appInfo.url %>&amp;src=sdkpreparse">Share</a></div>
									</li>

								</ul>
							</section> -->
						</article>

					</div>
				</div>
			</section>
			<section id="forecast-section" class="col-xs-12 col-sm-7">
				<div class="row">
					<div id="forecast-graph">
						<h3 id="forecast-title">7 Day Weather Forecast</h3>
						<svg></svg>
					</div>
				</div>
				<div class="row">
					<div id="map" style="height: 230px; width: 100%;"></div>
				</div>
			</section>
		</main>
		<% include ../partials/footer %>
	</body>
	<% include ../partials/scripts %>
	<script src="/scripts/saveSvgAsPng.js"></script>
</html>