<!DOCTYPE html>
<html lang="en" ng-app="WeatherReports">
	<head>
		<% include ../partials/head %><!-- <% /* include ../partials/fb-pixels */ %> -->
	</head>
	<body class="container-fluid">
		<div id="fb-root"></div>
		<script type="text/javascript" src="/scripts/facebook-integration.js"></script>
		<% include ../partials/header %>
		<main class="container">
			<section class="col-sm-4 well-sm">
				<% include ../partials/fb-like %>
				<form class="form-horizontal navbar-form nav navbar-nav navbar-right form-group" action="/api/weather/">
					<div class="col-xs-9">
						<input class="form-control text-center text-info bg-success" type="text" name="city" placeholder="Pick a city or start typing to filter cities" id="seach_city" autocomplete="true" list="cities">
					</div>
					<datalist id="cities">
						<a href="/api/weather/?city=Port Moresby"><option value="Port Moresby"></a>
						<option value="Lae">
						<option value="Arawa">
						<option value="Mount Hagen">
						<option value="Madang">
						<option value="Wewak">
						<option value="Goroka">
						<option value="Kokopo">
						<option value="Popondetta">
						<option value="Aitape">
						<option value="Rabaul">
						<option value="Kimbe">
						<option value="Tabubil">
						<option value="Daru">
						<option value="Kavieng">
						<option value="Alotau">
						<option value="Vanimo">
						<option value="Bulolo">
						<option value="Kiunga">
						<option value="Kundiawa">
						<option value="Mendi">
						<option value="Kainantu">
						<option value="Lorengau">
						<option value="Ialibu">
						<option value="Kerema">
						<option value="Ningerum">
						<option value="Wau">
						<option value="Wabag">
						<option value="Rabaul">
					</datalist>
					<button class="btn btn-success-outline" type="submit"><i class="glyphicon glyphicon-search"></i></button>
				</form>
				<article id="weather-info" class="row text-primary bg-warning text-center">
					<div class="col-sm-10 col-sm-offset-1">
						<h3 class="forecast-title"><%= weda.name %></h3>
						<p>The ground temperature is <%= weda.main.temp %> &deg;C. with <%= weda.clouds.all %>% of the sky covered with <%= weda.weather[0].description%>.</p>
						<p>The wind is averaging speeds of up to <%= weda.wind.speed %> km/h blowing in from the North at <%= weda.wind.deg %> &deg;</p>
						<p>Atmospheric pressure is measuring up to <%= weda.main.pressure %> hPa with humidity measuring at <%= weda.main.humidity %>%.</p>
					</div>
				</article>
				<article class="row">
					<section class="col-sm-12 ">
						<table class="table table-hover table-striped text-center">
							<thead>
								<tr>
									<th>latitude</th>
									<th>longitude</th>
									<th>sunrises</th>
									<th>sunsets</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td><%= weda.coord.lat %></td>
									<td><%= weda.coord.lon %></td>
									<td class="date-sunrise"><%= weda.sys.sunrise %></td>
									<td class="date-sunset"><%= weda.sys.sunset %></td>
								</tr>
							</tbody>
						</table>
						<p id="fb-location" class="col-sm-12 text-default small text-center"></p>
					</section>
				</article>
			</section>
			<section class="col-sm-8">
				<div class="row">
					<h3 class="page-header">7 Day Weather Forecast<span class="small text-muted pull-right">updates: 3 hourly</span></h3>
					<div id="forecast-graph">
						<svg></svg>
					</div>
				</div>
			</section>
		</main>
		<% include ../partials/footer %>
	</body>
	<% include ../partials/scripts %>
	<script src="/scripts/saveSvgAsPng.js"></script>
</html>