<!DOCTYPE html>
<html lang="en">
	<head>
		<% include ../partials/head %>
	</head>
	<body class="">
		<header class="row">
			<% include ../partials/header %>
		</header>
		<main class="container-fluid">
			<div class="row">
				<div class="col-sm-4 col-xs-12">
					<div class="carousel slide" id="carousel-demo" data-ride="carousel">
						<ol class="carousel-indicators">
							<% var numberOfSlides = 9; %>
							<% for (var count=0; count<=numberOfSlides+1; count++) {%>
								<li data-target="#carousel-demo" data-slide-to="<% count %>"></li>
							<% }; %>
						</ol>
						<div class="carousel-inner">
							<% grams.some(function (gram, index) { %>
							<div class="item" id="carousel-image-<%= index %>">
								<img src="<%= gram.images.standard_resolution.url %>" alt="<%= gram.user.username %>" />
								<div class="carousel-caption">
									<p class="description"><%= gram.user.username %></p>
								</div>
							</div>
							<% return index > numberOfSlides; }); %>
						</div>
						<a class="left carousel-control" href="#carousel-demo" data-slide="prev">
							<span class="glyphicon glyphicon-chevron-left"></span>
						</a>
						<a class="right carousel-control" href="#carousel-demo" data-slide="next">
							<span class="glyphicon glyphicon-chevron-right"></span>
						</a>
					</div>
				</div>
				<div class="col-sm-8 col-xs-12">
					<p class="h2">Summary</p>
					<p class="text-info">The carousel on your left shows ten most recent '<%= tag_used %>' images that were taken from instagram. These images were tagged with the hashbang: <span class="text-danger">#<%= tag_used %></span>.</p>
					<p>The technical part of it cannot be explained in this context but the laymen's part of it goes like this. My web app makes a request to api.instagram.com for popular images tagged with certain hashbangs. Then instagram responds by sending the images to my application from which I am now able, with a little bit of coding, to display these images in a carousel.</p>
					<p>In this simple part of the exercise, I learnt a lot about javascript array function calls like <code>arr.foreach(...){...}</code> and <code>arr.some(...){...}</code>. Each day I am learning new and awesome stuffs about javascript and I am thankful for this.</p>
					<p class="text-center text-uppercase text-danger">&middot; TO GOD BE THE GLORY &middot;</p>
				</div>
			</div>
			<div class="row">
				<div class="png-flag">
					<span class="glyphicon glyphicon-star star-1"></span>
					<span class="glyphicon glyphicon-star star-2"></span>
					<span class="glyphicon glyphicon-star star-3"></span>
					<span class="glyphicon glyphicon-star star-4"></span>
					<span class="glyphicon glyphicon-star star-5"></span>
					<span class="fourtieth">40th</span>
				</div>
			</div>
		</main>
		<footer class="clear container-fluid">
			<% include ../partials/footer %>
		</footer>
	</body>
	<script>
		$(".item:first").removeClass('left next').addClass('active');
	</script>
</html>