<!DOCTYPE html>
<html lang="en">
	<head>
		<% include ../partials/head %>
		<!-- <% /* include ../partials/fb-pixels */ %> -->
	</head>
	<body class="container-fluid">
		<div id="fb-root"></div>
		<script type="text/javascript" src="/scripts/facebook-integration.js"></script>
		<% include ../partials/header %>
		<main class="container">
			<div class="row">
				<section class="col-sm-4 well-sm weather-data-widget">
					<article>
						<h3 class=""><%= weda.name %> Weather Report - <span class="date-update"><%= weda.dt %></span></h3>
						<figure class="col-md-6">
							<img class="pull-left img-responsive" src="../img/app-logo.png" title="application logo" />
						</figure>
						<p>The current temperature on the ground is <%= weda.main.temp %> &deg;C. <%= weda.clouds.all %>% of the sky is covered with <%= weda.weather[0].description%>.</p>
						<p>The wind is blowing into the city from <%= weda.wind.deg %> &deg;North at an average speed of <%= weda.wind.speed %> km/h</p>
						<p>The atmospheric pressure and humidity are <%= weda.main.pressure %> hPa and <%= weda.main.humidity %>% respectively.</p>
						<section>
							<table class="table">
								<thead>
									<tr>
										<th>latitude</th>
										<th>longitude</th>
										<th>sea level</th>
										<th>sunrises</th>
										<th>sunsets</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td><%= weda.coord.lat %></td>
										<td><%= weda.coord.lon %></td>
										<td><%= weda.main.sea_level %></td>
										<td class="date-sunrise"><%= weda.sys.sunrise %></td>
										<td class="date-sunset"><%= weda.sys.sunset %></td>
									</tr>
								</tbody>
							</table>
						</section>
					</article>
				</section>
				<section class="col-sm-8">
					<div class="row"><div id="forecast-graph"></div></div>
					<div class="row">
						<% include ../partials/fb-like %>
						<div id="fb-welcome"></div>
						<form class="form-inline navbar-form" action="/api/" method="get" name="form_citydetailsbyname" id="form_citydetailsbyname" enctype="multipart/form-data" >
							<input id="f_elem_city_name" class="form-control" type="text" name="city" placeholder="City Name">
							<button class="btn btn-success-outline" required title="Get city data" type="submit"><i class="glyphicon glyphicon-send"></i></button>
						</form>
					</div>
				</section>
			</div>
			<div class="row">
				
			</div>
		</main>
		<% include ../partials/footer %>
	</body>
	<% include ../partials/scripts %>
</html>