<!DOCTYPE html>
<html lang="en">
	<head>
		<% include ../partials/head %>
	</head>
	<body class="container-fluid">
		<script type="text/javascript" src="/scripts/facebook-integration.js"></script>
		<% include ../partials/header %>
		<main class="container">
			<div class="row">
				<section class="col-md-4 well-sm weather-data-widget">
					<article>
						<h3 class=""><%= weda.name %> Weather Report - <span class="date-update"><%= weda.dt %></span></h3>
						<p>The current temperature on the ground is <%= weda.main.temp %> &deg;C. <%= weda.clouds.all %>% of the sky is covered with <%= weda.weather[0].description%>.</p>
						<p>The wind is blowing into the city from <%= weda.wind.deg %> &deg;North at an average speed of <%= weda.wind.speed %> km/h</p>
						<p>The atmospheric pressure and humidity are <%= weda.main.pressure %> hPa and <%= weda.main.humidity %>% respectively.</p>
						<section>
							<table class="table">
								<thead>
									<tr>
										<th>latitude</th>
										<th>longitude</th>
										<th>sea level</th>
										<th>sunrises</th>
										<th>sunsets</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td><%= weda.coord.lat %></td>
										<td><%= weda.coord.lon %></td>
										<td><%= weda.main.sea_level %></td>
										<td class="date-sunrise"><%= weda.sys.sunrise %></td>
										<td class="date-sunset"><%= weda.sys.sunset %></td>
									</tr>
								</tbody>
							</table>
						</section>
					</article>
				</section>
				<% include ../partials/fb-like %>
			</div>
			<div class="row">
				<section class="col-md-12">
					<div class="fb-comments" data-sort="newest" data-href="http://insta4toz.herokuapp.com/weather-group" data-width="100%" data-numposts="3" data-collapse="true"></div>
				</section>
			</div>
		</main>
		<% include ../partials/footer %>
	</body>
	<% include ../partials/scripts %>
</html>