<!DOCTYPE html>
<html lang="en">
	<head>
		<% include ../partials/head %>
	</head>
	<body class="container-fluid">
		<% include ../partials/header %>
		<main class="container">
			<section class="col-md-5 well weather-data-widget">
				<article>
					<h3 class=""><%= wd.name %> Weather Report - <span class="date-update"><%= wd.dt %></span></h3>
					<p>The current temperature on the ground is <%= wd.main.temp %> &deg;C. <%= wd.clouds.all %>% of the sky is covered with <%= wd.weather[0].description%>.</p>
					<p>The wind is blowing into the city from <%= wd.wind.deg %> &deg;North at an average speed of <%= wd.wind.speed %> km/h</p>
					<p>The atmospheric pressure and humidity are <%= wd.main.pressure %> hPa and <%= wd.main.humidity %>% respectively.</p>
					<section>
						<table class="table">
							<thead>
								<tr>
									<th>latitude</th>
									<th>longitude</th>
									<th>sea level</th>
									<th>sunrises</th>
									<th>sunsets</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td><%= wd.coord.lat %></td>
									<td><%= wd.coord.lon %></td>
									<td><%= wd.main.sea_level %></td>
									<td class="date-sunrise"><%= wd.sys.sunrise %></td>
									<td class="date-sunset"><%= wd.sys.sunset %></td>
								</tr>
							</tbody>
						</table>
					</section>
				</article>
			</section>
		</main>
		<% include ../partials/footer %>
	</body>
	<% include ../partials/scripts %>
</html>