<!DOCTYPE html>
<html lang="en">
	<head>
		<% include ../partials/head %>
	</head>
	<body class="container">
		<script type="text/javascript" src="/scripts/facebook-integration.js"></script>
		<header class="row">
			<% include ../partials/header %>
		</header>
		<main class="container">
			<div class="row">
			<div class="col-sm-10">
				<h1 class="text-primary text-uppercase title">Weather Data</h1>
				<p class="text-default">This page makes an API request to the openweathermap.org api server and retrieves data for three of the main urban cities of Papua New Guinea. A special feature to include later on the app is a carousel of randomly generated instagram images of Papua New Guinea! I do really hope you like this app. Please leave me a comment or a share on facebook to encourage me to continue working on facebook app development!</p>
				<p>The app is hosted on heroku via this address: https://insta4toz.herokuapp.com/weather-group.</p>
				<p>Please feel free to browse other pages to see fun features of the app.</p>
				<p>Much love and God Bless!</p>
			</div>
			<div class="col-sm-2 well bg-primary">
				<ul class="list-inline list-unstyled">
					<li>
						<div class="fb-like" data-href="https://insta4toz.herokuapp.com/weather-group&quot;" data-layout="box_count" data-action="like" data-show-faces="true" data-share="false"></div>
					</li>
					<li>
						<div class="fb-share-button" data-href="https://insta4toz.herokuapp.com/weather-group" data-layout="box_count"></div>
					</li>
				</ul>
			</div>
			<% for (var i=0; i<all.cnt; i++) {%>
				<div class="col-md-4 well-lg weather-data-widget extra-padding">
					<ul class="weather-data-list text-lowercase list-unstyled">
						<li class="desc"><span class="text-uppercase weather-data-detail">DESCRIPTION:</span> <%= all.list[i].weather[0].description %></li>
						<li class="press"><span class="text-uppercase weather-data-detail">PRESSURE:</span> <%= all.list[i].main.pressure %> hPa</li>
						<li class="clouds"><span class="text-uppercase weather-data-detail">CLOUD COVER:</span> <%= all.list[i].clouds.all %> %</li>
						<li class="humi"><span class="text-uppercase weather-data-detail">HUMIDITY:</span> <%= all.list[i].main.humidity %> %</li>
						<li class="w_speed"><span class="text-uppercase weather-data-detail">WIND SPEED:</span> <%= all.list[i].wind.speed %> m/sec</li>
						<li class="w_dir"><span class="text-uppercase weather-data-detail">WIND DIRECTION:</span> <%= all.list[i].wind.deg %> deg</li>
						<li class="rain_volume"><span class="text-uppercase weather-data-detail">RAIN VOLUME:</span> <%= all.list[i].main.pressure %> mm</li>
						<li class="date"><span class="text-uppercase weather-data-detail"><%= all.list[i].dt %></span></li>
						<div class="pull-right list-unstyled">
							<li class="bordered-rectangle text-uppercase text-center" title="<%= all.list[i].name %>"><%= all.list[i].name %> </li>
							<li class="bordered-circle text-uppercase text-center" title="Temperature"><%= all.list[i].main.temp %> &#176;C</li>
						</div>
					</ul>
				</div>
			<% } %>
			<div class="col-sm-8 well-lg bg-primary text-center text-uppercase">
				<p class="text-default">An awesome feature will be placed here!</p>
				<h2 class="text-warning">stay tuned!</h2>
			</div>
			<div class="fb-comments col-sm-4" data-href="http://insta4toz.herokuapp.com/weather-group" data-width="100%" data-numposts="5"></div>
			</div>
		</main>
		<footer class="clear container-fluid">
			<% include ../partials/footer %>
		</footer>
		<script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
		<script type="text/javascript">
		$(document).ready(function() {
			// CITY NAME
			var city = $("li.city").text();
			for (var j=0; j<city.length; j++) {
				if (city.length > 3) {
					var tempCity = city;
					city = "";
					for (var i=0; i<3; i++) {
						city += tempCity.charAt(i);
					}
				}
				$("li.city:nth-child("+j +1 +")").text(city);
			}

			// timestamp
			var date = $("li.date"), unxdate, date, month, day, hours, newDate;
			for (var i=0; i<date.length; i++) {
				unxdate = date[i].innerText;
				date = new Date(unxdate*1000);
				month = date.getMonth();
				day = date.getDate();
				hours = date.getHours();

				newDate = hours + ":00 HOURS "; 
				$("li.date>span").text("Last Updated: " + newDate);
			}
		});
		</script>
	</body>
</html>